@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes appearance-menu {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appearance {
  0% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dots {
  25% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    opacity: 0;
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
body input {
  font-family: "Roboto", sans-serif;
}
body a {
  color: black;
  text-decoration: none;
}
body h1, body h2, body h3, body h4, body h5, body p {
  margin: 0;
}

.content-wrapper {
  opacity: 0.1;
  animation: appearance ease-in-out 4s forwards;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 5px 0;
}
header i {
  font-size: 1.2em;
  position: relative;
  left: 23px;
}
header h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.8em;
  margin: 0 auto;
}
@media (max-width: 375px) {
  header h1 {
    font-size: 10vw;
  }
}

footer {
  background: #353535;
  color: white;
  padding: 25px 25px 30px 25px;
}
footer p {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.1em;
  margin-bottom: 15px;
}
footer a {
  color: white;
  font-weight: 500;
}
footer .footer__links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .footer__row {
  display: flex;
  align-items: center;
}
footer .footer__row i {
  font-size: 0.7em;
  margin-right: 10px;
}
footer .proposal i {
  margin-right: 15px;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  position: fixed;
  top: calc(50vh - 7.5px);
  width: 100%;
}
.dots__dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  opacity: 0;
}
.dots__dot:nth-child(1) {
  background: #fd74e2;
  animation: dots ease-in-out 1s calc(0.2s * (1 - 1));
}
.dots__dot:nth-child(2) {
  background: #fa70ea;
  animation: dots ease-in-out 1s calc(0.2s * (2 - 1));
}
.dots__dot:nth-child(3) {
  background: #f76cf3;
  animation: dots ease-in-out 1s calc(0.2s * (3 - 1));
}
.dots__dot:nth-child(4) {
  background: #ed68f4;
  animation: dots ease-in-out 1s calc(0.2s * (4 - 1));
}
.dots__dot:nth-child(5) {
  background: #de64f1;
  animation: dots ease-in-out 1s calc(0.2s * (5 - 1));
}
.dots__dot:nth-child(6) {
  background: #cf61ed;
  animation: dots ease-in-out 1s calc(0.2s * (6 - 1));
}
.dots__dot:nth-child(7) {
  background: #c05ee9;
  animation: dots ease-in-out 1s calc(0.2s * (7 - 1));
}
.dots__dot:nth-child(8) {
  background: #b05be5;
  animation: dots ease-in-out 1s calc(0.2s * (8 - 1));
}
.dots__dot:nth-child(9) {
  background: #a258e1;
  animation: dots ease-in-out 1s calc(0.2s * (9 - 1));
}
.dots__dot:nth-child(10) {
  background: #9356dc;
  animation: dots ease-in-out 1s calc(0.2s * (10 - 1));
}

.location {
  display: flex;
  justify-content: center;
  background: #eaeaea;
  padding: 15px 0;
  box-shadow: inset 0 4px 4px -2px #bebebe;
}
.location input {
  border: none;
  background: none;
  font-size: 1em;
  margin-left: 15px;
  width: 140px;
  font-weight: 500;
}
.location input:focus {
  outline: none;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #f6f6f6;
  padding-top: 40px;
}
.explore h1 {
  max-width: 250px;
  line-height: 28px;
  margin: 0;
}
.explore p {
  font-size: 1.1em;
  font-weight: 300;
  margin: 0;
  margin-top: 10px;
}
.explore a {
  display: block;
  margin-bottom: 60px;
  padding: 15px 20px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  margin-top: 30px;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  box-shadow: 2px 3px 5px #bebebe;
  transition: all ease-in-out 0.5s;
}
.explore a:hover {
  box-shadow: 2px 3px 5px #353535;
  opacity: 80%;
}

.instructions {
  padding-bottom: 50px;
}
.instructions h1 {
  margin: 50px 0 0 20px;
}
.instructions__buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  justify-content: center;
  margin-top: 20px;
}
.instructions__button {
  width: 315px;
  display: flex;
  align-items: center;
  background: #f6f6f6;
  padding: 22px 0;
  margin: 13px 20px 13px 30px;
  border-radius: 20px;
  box-shadow: 2px 3px 10px 5px #e7e7e7;
}
.instructions__button__rank {
  background: #9356DC;
  color: white;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 0.8em;
  position: relative;
  right: 12px;
}
.instructions__button i {
  font-size: 1.1em;
  color: #818181;
  margin-left: 10px;
}
.instructions__button h3 {
  font-size: 1em;
  margin-left: 25px;
}
.instructions__button--purple {
  background-color: #f5edff;
}
.instructions__button--purple i {
  color: #9356DC;
}

.restaurants {
  background: #f6f6f6;
  padding: 52px 20px 70px 20px;
}
.restaurants__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.restaurants__cards .card {
  width: 335px;
  border-radius: 15px;
  background: white;
  box-shadow: 3px 3px 7px 5px #e7e7e7;
}
.restaurants__cards .card__img {
  height: 175px;
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: end;
}
.restaurants__cards .card .img1 {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-position-y: bottom;
}
.restaurants__cards .card .img2 {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-position-y: 60%;
}
.restaurants__cards .card .img3 {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-position-y: bottom;
}
.restaurants__cards .card .img4 {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-position-y: bottom;
}
.restaurants__cards .card__new {
  box-sizing: border-box;
  height: 30px;
  width: 80px;
  border-radius: 2px;
  background: #99E2D0;
  color: #108566;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 0.9em;
  position: relative;
  top: 15px;
  right: 15px;
}
.restaurants__cards .card__description {
  display: flex;
  justify-content: space-between;
  margin: 15px 12px;
}
.restaurants__cards .card__description__text h2 {
  font-size: 1.1em;
}
.restaurants__cards .card__description__text p {
  font-size: 1.05em;
  font-weight: 300;
  margin-top: 3px;
}
.restaurants__cards .card__description__heart {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1.5em;
  cursor: url(../images/icon/cursor.png), pointer;
}
.restaurants__cards .card__description__heart i {
  transition: all ease-in-out 1s;
}
.restaurants__cards .card__description__heart .heart-outline {
  position: relative;
  left: 29.5px;
  z-index: 3;
}
.restaurants__cards .card__description__heart .heart-outline:hover {
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  background-clip: text;
  color: rgba(0, 0, 0, 0);
}
.restaurants__cards .card__description__heart .heart-outline:hover + i {
  transform-origin: center;
  transform: scale(1);
}
.restaurants__cards .card__description__heart .heart-full {
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  background-clip: text;
  color: rgba(0, 0, 0, 0);
  transform: scale(0);
}

/*# sourceMappingURL=main.css.map */
