header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 5px 0;
    i {
        font-size: 1.2em;
        position: absolute;
        left: 23px;
        top: 25px;

    }
    h1 {
        font-family: "Shrikhand",sans-serif;
        font-size: 1.8em;
        margin: 0 auto;
    }
}