.location {
    display: flex;
    justify-content: center;
    background: $grey; 
    padding: 15px 0;
    box-shadow: inset 0 4px 4px -2px $dark-grey;

    input {
        border: none;
        background: none;
        font-size: 1em;
        margin-left: 15px;
        width: 140px;
        font-weight: 500;
        &:focus {
            outline: none;
        }
    }
}

.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: $light-grey;
    padding-top: 40px;
    h2 {
        max-width: 250px;
        line-height: 28px;
        margin: 0;
    }
    p {
        font-size: 1.1em;
        font-weight: 300;
        margin: 0;
        margin-top: 10px;
    }
    a {
        display: block;
        margin-bottom: 60px;
        padding: 15px 20px;
        @include button-style;
    }
}

.instructions {
    padding-bottom: 50px; 
    
    h2 {
        margin: 50px 0 0 20px;
    }
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        column-gap: 15px;
        justify-content: center;
        margin-top: 20px;
    }
    &__button {
        width: 315px;
        display: flex;
        align-items: center;
        background: $light-grey;
        padding: 22px 0;
        margin: 13px 20px 13px 30px;
        border-radius: 20px;
        box-shadow: 2px 3px 10px 5px $grey-shadow;
        
        &__rank {
            background: $primary;
            color: white;
            padding: 4px 8px;
            border-radius: 20px;
            font-size: 0.8em;
            position: relative;
            right: 12px;
        }
        i {
            font-size: 1.1em;
            color: $darker-grey;
            margin-left: 10px;
        }
        h3 {
            font-size: 1em;
            margin-left: 25px;
        }
        &:hover {
            background-color: $light-primary;
            i {
                color: $primary;
            }
        }
    }
}
.restaurants {
    background: $light-grey;
    padding: 52px 20px 70px 20px;

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;

        .card {
            width: 335px;
            border-radius: 15px;
            background: white;
            box-shadow: 3px 3px 7px 5px $grey-shadow;
            &__img {
                height: 175px;
                background-size: cover;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                display: flex;
                justify-content: end;
            }
            .img1 {
                background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
                background-position-y: bottom;
            }
            .img2 {
                background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
                background-position-y: 60%;
            }
            .img3 {
                background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
                background-position-y: bottom;
            }
            .img4 {
                background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
                background-position-y: bottom;
            }
            &__new {
                box-sizing: border-box;
                height: 30px;
                width: 80px;
                border-radius: 2px;
                background: $tertiary;
                color: $tertiary-darker;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                font-size: 0.9em;
                position: relative;
                top: 15px;
                right: 15px;
            }
            &__description {
                display:flex;
                justify-content: space-between;
                margin: 15px 12px;
                &__text {
                    h2 {
                        font-size: 1.1em;
                    }
                    p {
                        font-size: 1.05em;
                        font-weight: 300;
                        margin-top: 3px;
                    }
                }
                &__heart {
                    margin-top: 10px;
                    margin-right: 10px;
                    font-size: 1.5em;
                    cursor: url(../images/icon/cursor.png), pointer;
                    i {                
                        transition: all ease-in-out 1s;
                    }
                    .heart-outline {
                        position: relative;
                        left: 29.5px;
                        z-index: 3;
                        &:hover {
                            background: linear-gradient(to bottom, $secondary, $primary);
                            background-clip: text;
                            -webkit-background-clip : text;
                            color: rgba($color: #000000, $alpha: 0);
                            & + i {
                                transform-origin: center;
                                transform: scale(1);
                            }
                        }
                    }
        
                    .heart-full {
                        background: linear-gradient(to bottom, $secondary, $primary);
                        background-clip: text;
                        -webkit-background-clip : text;
                        color: rgba($color: #000000, $alpha: 0);
                        transform: scale(0);
                    }
    
                    
                }

                
            }
        }
    }
}