main {
    background: $light-grey;
    .background-picture {
        height: 270px;
        width: 100%;
        background-size: cover;
    }
    .img-francaise {
        background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
        background-position-x: center;
    }
    .img-enchantee {
        background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
        background-position: center;
    }
    .img-palette {
        background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        background-position: center;
    }
    .img-sens {
        background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        background-position: center;
    }


    .menu {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        position: relative;
        top: -50px;
        background: $light-grey;
        padding: 35px 15px 0 15px;

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 {
                font-family: "Shrikhand", sans-serif;
                font-size: 1.65em;
                margin-left: 5px;
            }
            &__heart {
                margin-right: 23px;
                
                i {                
                    transition: all ease-in-out 1s;
                    cursor: url(../images/icon/cursor.png), pointer;
                }
                .heart-outline {
                    position: relative;
                    left: 30px;
                    z-index: 3;
                    font-size: 1.6em;
                    &:hover {
                        background: linear-gradient(to bottom, $secondary, $primary);
                        background-clip: text;
                        -webkit-background-clip : text;
                        color: rgba($color: #000000, $alpha: 0);
                        & + i {
                            transform-origin: center;
                            transform: scale(1);
                        }
                    }
                }
    
                .heart-full {
                    background: linear-gradient(to bottom, $secondary, $primary);
                    background-clip: text;
                    -webkit-background-clip : text;
                    color: rgba($color: #000000, $alpha: 0);
                    transform: scale(0);
                    font-size: 1.6em;
                   
                }

                
            }
        }

        &__layout {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 30px;
            .menu-part {
                max-width: 345px;
                margin-top: 30px;
                @media (max-width: 375px) {
                    width: 90%;
                }
                h3 {
                    text-transform: uppercase;
                    font-size: 1em;
                    font-weight: 300;
                    margin-left: 5px;
                    margin-bottom: 20px;
                    &::before {
                        content: "";
                        width: 40px;
                        height: 3px;
                        background: $tertiary;
                        position: relative;
                        top: 25px;
                        display: block;

                    }
                }
                &__element {
                    display: flex;
                    border-radius: 15px;
                    overflow: hidden;
                    margin: 13px 0;
                    box-shadow: 2px 2px 5px 3px $grey-shadow;
                    opacity: 0;
                    @media (max-width:375px) {
                        width: 100%;
                    }
                    &:hover {
                        & .menu-part__description {
                            width: 286px;
                            @media (max-width: 375px) {
                                width: 80%;
                            }
                        }
                        & .menu-part__check i {
                            animation: rotate .75s ease-in-out;
                        }
                    }
                }
                &__description {
                    flex-shrink: 0;
                    background: white;
                    padding: 10px;
                    box-sizing: border-box;
                    transition: width ease-in-out .75s;
                    width: 345px;
                    @media (max-width: 375px) {
                        width: 100%;
                    }
                    h4 {
                        font-size: 1.11em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    &__text {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 3px;
                        p {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-size: .94em;
                            font-weight: 300;
                        }
                        h5 {
                            font-size: .9em;
                            margin-left: 30px;
                            margin-right: 10px;
                        }
                    }
                }
                &__check {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    background: $tertiary;
                    width: 59px;
                    @media (max-width: 375px) {
                        width: 20%;
                    }
                    i {
                        color: white;
                        font-size: 1.2em;
                    }
                }

                @for $i from 1 through 4 {
                    .part#{$i} {
                        animation: appearance-menu ease-in-out .5s calc(.5s*(#{$i} - 1)) forwards;
                    }
                }
            }
        }

        .command-btn {
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                margin-bottom: 45px;
                padding: 15px 45px;
                @include button-style();
            }
        }   
    }
}