@mixin button-style {
    background: linear-gradient(to bottom right,$secondary,$primary);
    margin-top: 30px;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    box-shadow: 2px 3px 5px $dark-grey;
    transition: all ease-in-out .5s;

    &:hover {
        box-shadow: 2px 3px 5px $darkest-grey;
        opacity: 80%;
    }

}